@import "tailwindcss";

@theme {
  --color-fibra-cruda: #d8cdbc;
  --color-piedra-volcanica: #2b2622;
  --color-vino-tinto: #4e1b26;
  --color-cobre-viejo: #8a5a34;
  --color-lana-dorada: #b8935a;
  --color-vina: #3d4a32;

  --font-display: "Fraunces", serif;
  --font-body: "Lora", serif;
  --font-label: "Space Grotesk", sans-serif;
}

body {
  background-color: var(--color-fibra-cruda);
  color: var(--color-piedra-volcanica);
  font-family: var(--font-body);
}
